@{
    ViewData["Title"] = "Welcome to the airport!";
}
<h2>@ViewData["Title"].</h2>

<p>
    Are you allowed through security? 
    You must be logged in and have a boarding pass number to enter.
</p>
<p><a asp-action="AirportSecurity" class="btn btn-default">Try and enter Security</a></p>