<div class="panel panel-default" style="margin-top: 20px">
    <a asp-area="" asp-controller="Account" asp-action="Register">Register</a> or 
    <a asp-area="" asp-controller="Account" asp-action="Login">Log in</a> to view your recipes.
</div>
