@{
    ViewData["Title"] = "Home Page";
}
<h2>Click the button to simulate sending an email</h2>

<a asp-action="RegisterUser" asp-controller="User" asp-route-username="Joe Bloggs" class="btn btn-default">Send Email</a>