@model ToDoItemViewModel

<h2>Things to do next week</h2>
<p>
    @if (Model.IsComplete)
    {
        <strong>Well done, you’re all done!</strong>
    } else {
        <strong>The following tasks remain:</strong>
        <ul>
            @foreach (var task in Model.Tasks)
            {
                <li>@task</li>
            }
        </ul>
    }
</p>
